.icon-resist {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align: middle;
}

.icon-resist.em {
	background: url("../img/resist/em.png");
}

.icon-resist.thermal {
	background: url("../img/resist/thermal.png");
}

.icon-resist.kinetic {
	background: url("../img/resist/kinetic.png");
}

.icon-resist.explosive {
	background: url("../img/resist/explosive.png");
}
